.jumbotron {
	background-color: white;
		 Color: teal;
     padding: 0px 0px 0px 10px;
}

.barra{
	background-color: #496E6f;
}
.col-md-auto {
	background-color: snow;
		Color: darkslategray;

}

footer {
	padding: 10px 10px 0 10px;
	background-color:white;
	margin-bottom: 0px;
	margin-top: 100px;
}

.card-construction {
	flex: 1 300px;
	padding: 10px 5px 10px 5px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100;
    margin-left: 30px;

}

.footer-address-icon{
	padding-right: 10px;
}

.container{
	margin-top: 70px;

}

.tab-content{
	padding-top: 10px;
}